<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mijia.orderList.dao.MOrderListMapper">

 <resultMap id="BaseResultMap" type="com.mijia.orderList.domain.MOrderList" >
		<id column="order_list_id" property="orderListId" jdbcType="VARCHAR" />
		<result column="order_id" property="orderId" jdbcType="VARCHAR" />
		<result column="product_id" property="productId" jdbcType="VARCHAR" />
		<result column="amount" property="amount" jdbcType="INTEGER" />
		<result column="product_price" property="productPrice" jdbcType="DECIMAL" />
		<result column="privilege" property="privilege" jdbcType="DECIMAL" />
		<result column="final_price" property="finalPrice" jdbcType="DECIMAL" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
 </resultMap>
	
	<insert id="insert" parameterType="com.mijia.orderList.domain.MOrderList">
		insert into m_order_list (order_list_id, order_id, product_id, amount, product_price, privilege, final_price, create_time)
		values (#{orderListId}, #{orderId}, #{productId}, #{amount}, #{productPrice}, #{privilege}, #{finalPrice}, #{createTime})
	</insert>

  <select id="selectByPk" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select  * from m_order_list where order_id = #{pk}
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mijia.orderList.domain.MOrderList" >
      select * from m_order_list 
    	<trim prefix="WHERE" prefixOverrides="AND|OR">
					<if test="orderListId!=null and orderListId!=''"> 
						and order_list_id = #{orderListId}
					</if>
					<if test="orderId!=null and orderId!=''"> 
						and order_id = #{orderId}
					</if>
					<if test="productId!=null and productId!=''"> 
						and product_id = #{productId}
					</if>
					<if test="amount!=null and amount!=''"> 
						and amount = #{amount}
					</if>
					<if test="productPrice!=null and productPrice!=''"> 
						and product_price = #{productPrice}
					</if>
					<if test="privilege!=null and privilege!=''"> 
						and privilege = #{privilege}
					</if>
					<if test="finalPrice!=null and finalPrice!=''"> 
						and final_price = #{finalPrice}
					</if>
					<if test="createTime!=null and createTime!=''"> 
						and create_time = #{createTime}
					</if>
		</trim>
		<if test="orderBy != null and orderBy !=''" >
      			order by ${orderBy}
    	</if>
		<if test="startRecord != -1" >
      			limit  #{startRecord},  #{pageSize}
    	</if>
  </select>
  <select id="countByExample" parameterType="com.mijia.orderList.domain.MOrderList" resultType="java.lang.Integer" >
    select count(*) from m_order_list 
    <trim prefix="WHERE" prefixOverrides="AND|OR">
					<if test="orderListId!=null and orderListId!=''"> 
						and order_list_id = #{orderListId}
					</if>
					<if test="orderId!=null and orderId!=''"> 
						and order_id = #{orderId}
					</if>
					<if test="productId!=null and productId!=''"> 
						and product_id = #{productId}
					</if>
					<if test="amount!=null and amount!=''"> 
						and amount = #{amount}
					</if>
					<if test="productPrice!=null and productPrice!=''"> 
						and product_price = #{productPrice}
					</if>
					<if test="privilege!=null and privilege!=''"> 
						and privilege = #{privilege}
					</if>
					<if test="finalPrice!=null and finalPrice!=''"> 
						and final_price = #{finalPrice}
					</if>
					<if test="createTime!=null and createTime!=''"> 
						and create_time = #{createTime}
					</if>
		</trim>
  	</select>
	
	<update id="updateByExample" parameterType="map" >
    update m_order_list
    <set >
 				 <if test="record.orderListId!=null and record.orderListId!=''"> 
						order_list_id = #{record.orderListId},
					</if>
 				 <if test="record.orderId!=null and record.orderId!=''"> 
						order_id = #{record.orderId},
					</if>
 				 <if test="record.productId!=null and record.productId!=''"> 
						product_id = #{record.productId},
					</if>
 				 <if test="record.amount!=null and record.amount!=''"> 
						amount = #{record.amount},
					</if>
 				 <if test="record.productPrice!=null and record.productPrice!=''"> 
						product_price = #{record.productPrice},
					</if>
 				 <if test="record.privilege!=null and record.privilege!=''"> 
						privilege = #{record.privilege},
					</if>
 				 <if test="record.finalPrice!=null and record.finalPrice!=''"> 
						final_price = #{record.finalPrice},
					</if>
 				 <if test="record.createTime!=null and record.createTime!=''"> 
						create_time = #{record.createTime},
					</if>
    </set>
    <trim prefix="WHERE" prefixOverrides="AND|OR"> 
 			<if test="example.orderListId!=null and example.orderListId!=''">
			   and order_list_id = #{example.orderListId}
			</if>
			
 			<if test="example.orderId!=null and example.orderId!=''">
			   and order_id = #{example.orderId}
			</if>
			
 			<if test="example.productId!=null and example.productId!=''">
			   and product_id = #{example.productId}
			</if>
			
 			<if test="example.amount!=null and example.amount!=''">
			   and amount = #{example.amount}
			</if>
			
 			<if test="example.productPrice!=null and example.productPrice!=''">
			   and product_price = #{example.productPrice}
			</if>
			
 			<if test="example.privilege!=null and example.privilege!=''">
			   and privilege = #{example.privilege}
			</if>
			
 			<if test="example.finalPrice!=null and example.finalPrice!=''">
			   and final_price = #{example.finalPrice}
			</if>
			
			
	</trim>
  </update>

<update id="updateByPk" parameterType="com.mijia.orderList.domain.MOrderList" >
    update m_order_list
    <set >
					<if test="orderListId!=null and orderListId!=''"> 
						order_list_id = orderListId,
					</if>
					<if test="orderId!=null and orderId!=''"> 
						order_id = orderId,
					</if>
					<if test="productId!=null and productId!=''"> 
						product_id = productId,
					</if>
					<if test="amount!=null and amount!=''"> 
						amount = amount,
					</if>
					<if test="productPrice!=null and productPrice!=''"> 
						product_price = productPrice,
					</if>
					<if test="privilege!=null and privilege!=''"> 
						privilege = privilege,
					</if>
					<if test="finalPrice!=null and finalPrice!=''"> 
						final_price = finalPrice,
					</if>
					<if test="createTime!=null and createTime!=''"> 
						create_time = createTime,
					</if>
    </set>
    where order_id = #{orderId};
  </update>
  <delete id="deleteByPk" parameterType="map" >
    delete from m_order_list  where order_id =  #{pk}
  </delete>
</mapper>
