<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mijia.address.dao.MReceivingAddressMapper">

 <resultMap id="BaseResultMap" type="com.mijia.address.domain.MReceivingAddress" >
		<id column="address_id" property="addressId" jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="consignee" property="consignee" jdbcType="VARCHAR" />
		<result column="province" property="province" jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="county" property="county" jdbcType="VARCHAR" />
		<result column="area_detailed" property="areaDetailed" jdbcType="VARCHAR" />
		<result column="cellphone" property="cellphone" jdbcType="VARCHAR" />
		<result column="postal_code" property="postalCode" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="isdefault" property="isdefault" jdbcType="CHAR" />
		<result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
 </resultMap>
	
	<insert id="insert" parameterType="com.mijia.address.domain.MReceivingAddress">
		insert into m_receiving_address (address_id, user_id, consignee, province, city, county, area_detailed, cellphone, postal_code, phone, isdefault, is_delete, create_time)
		values (#{addressId}, #{userId}, #{consignee}, #{province}, #{city}, #{county}, #{areaDetailed}, #{cellphone}, #{postalCode}, #{phone}, #{isdefault}, #{isDelete}, #{createTime})
	</insert>

  <select id="selectByPk" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select  * from m_receiving_address where address_id = #{pk}
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mijia.address.domain.MReceivingAddress" >
      select * from m_receiving_address 
    	<trim prefix="WHERE" prefixOverrides="AND|OR">
					<if test="addressId!=null and addressId!=''"> 
						and address_id = #{addressId}
					</if>
					<if test="userId!=null and userId!=''"> 
						and user_id = #{userId}
					</if>
					<if test="consignee!=null and consignee!=''"> 
						and consignee = #{consignee}
					</if>
					<if test="province!=null and province!=''"> 
						and province = #{province}
					</if>
					<if test="city!=null and city!=''"> 
						and city = #{city}
					</if>
					<if test="county!=null and county!=''"> 
						and county = #{county}
					</if>
					<if test="areaDetailed!=null and areaDetailed!=''"> 
						and area_detailed = #{areaDetailed}
					</if>
					<if test="cellphone!=null and cellphone!=''"> 
						and cellphone = #{cellphone}
					</if>
					<if test="postalCode!=null and postalCode!=''"> 
						and postal_code = #{postalCode}
					</if>
					<if test="phone!=null and phone!=''"> 
						and phone = #{phone}
					</if>
					<if test="isdefault!=null and isdefault!=''"> 
						and isdefault = #{isdefault}
					</if>
					<if test="isDelete!=null and isDelete!=''"> 
						and is_delete = #{isDelete}
					</if>
					<if test="createTime!=null and createTime!=''"> 
						and create_time = #{createTime}
					</if>
		</trim>
		<if test="orderBy != null and orderBy !=''" >
      			order by ${orderBy}
    	</if>
		<if test="startRecord != -1" >
      			limit  #{startRecord},  #{pageSize}
    	</if>
  </select>
  <select id="countByExample" parameterType="com.mijia.address.domain.MReceivingAddress" resultType="java.lang.Integer" >
    select count(*) from m_receiving_address 
    <trim prefix="WHERE" prefixOverrides="AND|OR">
					<if test="addressId!=null and addressId!=''"> 
						and address_id = #{addressId}
					</if>
					<if test="userId!=null and userId!=''"> 
						and user_id = #{userId}
					</if>
					<if test="consignee!=null and consignee!=''"> 
						and consignee = #{consignee}
					</if>
					<if test="province!=null and province!=''"> 
						and province = #{province}
					</if>
					<if test="city!=null and city!=''"> 
						and city = #{city}
					</if>
					<if test="county!=null and county!=''"> 
						and county = #{county}
					</if>
					<if test="areaDetailed!=null and areaDetailed!=''"> 
						and area_detailed = #{areaDetailed}
					</if>
					<if test="cellphone!=null and cellphone!=''"> 
						and cellphone = #{cellphone}
					</if>
					<if test="postalCode!=null and postalCode!=''"> 
						and postal_code = #{postalCode}
					</if>
					<if test="phone!=null and phone!=''"> 
						and phone = #{phone}
					</if>
					<if test="isdefault!=null and isdefault!=''"> 
						and isdefault = #{isdefault}
					</if>
					<if test="isDelete!=null and isDelete!=''"> 
						and is_delete = #{isDelete}
					</if>
					<if test="createTime!=null and createTime!=''"> 
						and create_time = #{createTime}
					</if>
		</trim>
  	</select>
	
	<update id="updateByExample" parameterType="map" >
    update m_receiving_address
    <set >
 				 <if test="record.addressId!=null and record.addressId!=''"> 
						address_id = #{record.addressId},
					</if>
 				 <if test="record.userId!=null and record.userId!=''"> 
						user_id = #{record.userId},
					</if>
 				 <if test="record.consignee!=null and record.consignee!=''"> 
						consignee = #{record.consignee},
					</if>
 				 <if test="record.province!=null and record.province!=''"> 
						province = #{record.province},
					</if>
 				 <if test="record.city!=null and record.city!=''"> 
						city = #{record.city},
					</if>
 				 <if test="record.county!=null and record.county!=''"> 
						county = #{record.county},
					</if>
 				 <if test="record.areaDetailed!=null and record.areaDetailed!=''"> 
						area_detailed = #{record.areaDetailed},
					</if>
 				 <if test="record.cellphone!=null and record.cellphone!=''"> 
						cellphone = #{record.cellphone},
					</if>
 				 <if test="record.postalCode!=null and record.postalCode!=''"> 
						postal_code = #{record.postalCode},
					</if>
 				 <if test="record.phone!=null and record.phone!=''"> 
						phone = #{record.phone},
					</if>
 				 <if test="record.isdefault!=null and record.isdefault!=''"> 
						isdefault = #{record.isdefault},
					</if>
 				 <if test="record.isDelete!=null and record.isDelete!=''"> 
						is_delete = #{record.isDelete},
					</if>
 				 <if test="record.createTime!=null and record.createTime!=''"> 
						create_time = #{record.createTime},
					</if>
    </set>
    <trim prefix="WHERE" prefixOverrides="AND|OR"> 
 			<if test="example.addressId!=null and example.addressId!=''">
			   and address_id = #{example.addressId}
			</if>
			
 			<if test="example.userId!=null and example.userId!=''">
			   and user_id = #{example.userId}
			</if>
			
 			<if test="example.consignee!=null and example.consignee!=''">
			   and consignee = #{example.consignee}
			</if>
			
 			<if test="example.province!=null and example.province!=''">
			   and province = #{example.province}
			</if>
			
 			<if test="example.city!=null and example.city!=''">
			   and city = #{example.city}
			</if>
			
 			<if test="example.county!=null and example.county!=''">
			   and county = #{example.county}
			</if>
			
 			<if test="example.areaDetailed!=null and example.areaDetailed!=''">
			   and area_detailed = #{example.areaDetailed}
			</if>
			
 			<if test="example.cellphone!=null and example.cellphone!=''">
			   and cellphone = #{example.cellphone}
			</if>
			
 			<if test="example.postalCode!=null and example.postalCode!=''">
			   and postal_code = #{example.postalCode}
			</if>
			
 			<if test="example.phone!=null and example.phone!=''">
			   and phone = #{example.phone}
			</if>
			
 			<if test="example.isdefault!=null and example.isdefault!=''">
			   and isdefault = #{example.isdefault}
			</if>
			
 			<if test="example.isDelete!=null and example.isDelete!=''">
			   and is_delete = #{example.isDelete}
			</if>
			
			
	</trim>
  </update>

<update id="updateByPk" parameterType="com.mijia.address.domain.MReceivingAddress" >
    update m_receiving_address
    <set >
					<if test="addressId!=null and addressId!=''"> 
						address_id = addressId,
					</if>
					<if test="userId!=null and userId!=''"> 
						user_id = userId,
					</if>
					<if test="consignee!=null and consignee!=''"> 
						consignee = consignee,
					</if>
					<if test="province!=null and province!=''"> 
						province = province,
					</if>
					<if test="city!=null and city!=''"> 
						city = city,
					</if>
					<if test="county!=null and county!=''"> 
						county = county,
					</if>
					<if test="areaDetailed!=null and areaDetailed!=''"> 
						area_detailed = areaDetailed,
					</if>
					<if test="cellphone!=null and cellphone!=''"> 
						cellphone = cellphone,
					</if>
					<if test="postalCode!=null and postalCode!=''"> 
						postal_code = postalCode,
					</if>
					<if test="phone!=null and phone!=''"> 
						phone = phone,
					</if>
					<if test="isdefault!=null and isdefault!=''"> 
						isdefault = isdefault,
					</if>
					<if test="isDelete!=null and isDelete!=''"> 
						is_delete = isDelete,
					</if>
					<if test="createTime!=null and createTime!=''"> 
						create_time = createTime,
					</if>
    </set>
    where address_id = #{addressId};
  </update>
  <delete id="deleteByPk" parameterType="map" >
    delete from m_receiving_address  where address_id =  #{pk}
  </delete>
</mapper>
